anyio @ file:///Users/ec2-user/croot/anyio_1773134414870/work
appnope @ file:///Users/ec2-user/buildout/croot/appnope_1759953166014/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067819781/work
argon2-cffi-bindings @ file:///Users/ec2-user/buildout/croot/argon2-cffi-bindings_1761949232702/work
asttokens @ file:///Users/ec2-user/croot/asttokens_1773135856585/work
async-lru @ file:///Users/ec2-user/buildout/croot/async-lru_1761937368413/work
attrs @ file:///Users/ec2-user/croot/attrs_1774959623970/work
babel @ file:///opt/miniconda3/conda-bld/babel_1764159323743/work
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1770291772119/work
bleach @ file:///Users/ec2-user/croot/bleach_1777544916423/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161487/work
certifi @ file:///Users/ec2-user/croot/certifi_1779370294849/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832774023/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744819392/work
comm @ file:///Users/ec2-user/buildout/croot/comm_1763763170912/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643920606/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067932347/work
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421637378/work
decorator @ file:///Users/ec2-user/buildout/croot/decorator_1759952744985/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
et_xmlfile @ file:///Users/ec2-user/buildout/croot/et_xmlfile_1759954855491/work
executing @ file:///Users/ec2-user/buildout/croot/executing_1761950542723/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718705082/work
fonttools @ file:///Users/ec2-user/croot/fonttools_1774256494220/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258926/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///Users/ec2-user/buildout/croot/httpcore_1761937127030/work
httpx @ file:///Users/ec2-user/buildout/croot/httpx_1761937519393/work
idna @ file:///Users/ec2-user/buildout/croot/idna_1763763781171/work
ipykernel @ file:///Users/ec2-user/croot/ipykernel_1772612352053/work
ipython @ file:///Users/ec2-user/croot/ipython_1773996069639/work
ipython_pygments_lexers @ file:///Users/ec2-user/buildout/croot/ipython_pygments_lexers_1759952775363/work
ipywidgets @ file:///Users/ec2-user/croot/ipywidgets_1771500032301/work
jedi @ file:///Users/ec2-user/croot/jedi_1778681758072/work
Jinja2 @ file:///Users/ec2-user/buildout/croot/jinja2_1761936793528/work
joblib @ file:///Users/ec2-user/croot/joblib_1767868079012/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718541253/work
jsonschema @ file:///Users/ec2-user/croot/jsonschema_1767955676205/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788415691/work
jupyter @ file:///Users/ec2-user/buildout/croot/jupyter_1768896575345/work
jupyter-console @ file:///Users/ec2-user/buildout/croot/jupyter_console_1763763511730/work
jupyter-events @ file:///Users/ec2-user/croot/jupyter_events_1778067257248/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773346380/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1768399006150/work
jupyter_core @ file:///Users/ec2-user/buildout/croot/jupyter_core_1765380151887/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1779203756701/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289304537/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1778253025386/work
jupyterlab_pygments @ file:///Users/ec2-user/buildout/croot/jupyterlab_pygments_1759952498240/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629822876/work
jupyterlab_widgets @ file:///Users/ec2-user/croot/jupyterlab_widgets_1771492389273/work
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159406929/work
MarkupSafe @ file:///Users/ec2-user/buildout/croot/markupsafe_1759952215014/work
matplotlib==3.10.9
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779167424/work
mistune @ file:///Users/ec2-user/buildout/croot/mistune_1759952512674/work
nbclient @ file:///Users/ec2-user/croot/nbclient_1771577060781/work
nbconvert @ file:///Users/ec2-user/croot/nbconvert-meta_1772121294540/work
nbformat @ file:///Users/ec2-user/buildout/croot/nbformat_1759952237112/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
notebook @ file:///Users/ec2-user/croot/notebook_1775139368911/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629838630/work
numpy @ file:///Users/ec2-user/croot/numpy_and_numpy_base_1776188827060/work/dist/numpy-2.4.4-cp314-cp314-macosx_12_0_arm64.whl#sha256=5ce545b28c6488aea4779311c6ff5baa4841e9177a55093f95b9b0897746a677
openpyxl @ file:///Users/ec2-user/buildout/croot/openpyxl_1759956488874/work
packaging==26.0
pandas @ file:///Users/ec2-user/croot/pandas_1775480141261/work
pandocfilters @ file:///Users/ec2-user/buildout/croot/pandocfilters_1759952542553/work
parso @ file:///Users/ec2-user/croot/parso_1778674014309/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936044/work
pillow @ file:///Users/ec2-user/croot/pillow_1777974293463/work
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1773652975658/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733399866/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744861210/work
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896325336/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///Users/ec2-user/buildout/croot/pure_eval_1759952573602/work
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959675151/work
Pygments @ file:///Users/ec2-user/croot/pygments_1775127041396/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973789564/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010104/work
python-dateutil @ file:///Users/ec2-user/buildout/croot/python-dateutil_1759952060416/work
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590095606/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492428/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375615819/work
qtconsole @ file:///Users/ec2-user/croot/qtconsole_1776670409808/work
QtPy @ file:///Users/ec2-user/buildout/croot/qtpy_1761938651965/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536885811/work
requests @ file:///Users/ec2-user/croot/requests_1775066169396/work
rfc3339_validator @ file:///opt/miniconda3/conda-bld/rfc3339-validator_1764775593947/work
rfc3986_validator @ file:///Users/ec2-user/buildout/croot/rfc3986-validator_1763762347429/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366481407/work
scikit-learn @ file:///Users/ec2-user/croot/scikit-learn_1779290045708/work
scipy @ file:///Users/ec2-user/croot/scipy_1776277749804/work/dist/scipy-1.17.1-cp314-cp314-macosx_12_0_arm64.whl#sha256=42c22ea2ea4da2622f0151249030623f35e68812f7ec036d162166ae87e5ff36
Send2Trash @ file:///Users/ec2-user/croot/send2trash_1768170598277/work
setuptools==82.0.1
six @ file:///Users/ec2-user/buildout/croot/six_1759951952559/work
soupsieve @ file:///Users/ec2-user/buildout/croot/soupsieve_1761936742519/work
stack_data @ file:///Users/ec2-user/buildout/croot/stack_data_1759953041043/work
terminado @ file:///Users/ec2-user/croot/terminado_1769591696190/work
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580482/work
tinycss2 @ file:///opt/miniconda3/conda-bld/tinycss2_1764948935775/work
tornado @ file:///Users/ec2-user/croot/tornado_1774303637024/work
traitlets @ file:///Users/ec2-user/croot/traitlets_1778743192105/work
typing_extensions @ file:///Users/ec2-user/buildout/croot/typing_extensions_1759952168048/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1778536190991/work
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1767780857869/work
webencodings @ file:///Users/ec2-user/buildout/croot/webencodings_1761936753283/work
websocket-client @ file:///Users/ec2-user/buildout/croot/websocket-client_1759953104904/work
widgetsnbextension @ file:///Users/ec2-user/buildout/croot/widgetsnbextension_1761938677832/work
